.bulletin-new {
  position: relative;
  margin:20px 0;
  &:before         { color: red;   content: "✗ "; }
  &.success:before { color: green; content: "✓ "; }

  select, input[type='text'], input[type='submit'] {
    display: inline-block;
  }
  input[type='submit'] {
    cursor: pointer;
  }

  input[type='text'] {
    width: 80%;
    max-width: 450px;
    margin-left: 5px;
  }
  select {
    width: 20%;
    min-width: 200px;
  }
}