@import '_imports';

.bulletins .bulletin-wrapper {
  & > .loading {
    background: url('spinner.gif') no-repeat center left;
    & > * { visibility: hidden; }
  }
  height: 100px;
  width: 200px;
  display: inline-block;
  padding: 5px 10px;
  margin: 5px;
  text-transform: capitalize;
  border: solid 1px $green;
  overflow: hidden;
  .subtext {
    text-transform: none;
    p { margin-bottom: 2px; }
  }
  .subtext, .title {
    a {
      width: 100%;
      display: block;
      @include ellipsis;
      &:hover { text-decoration: underline;}
    }
  }
  // fonts
  .subtext {
    font-size: $font-size * 0.7;
    color: lighten($brown4, 20%);
    a { color: lighten($brown4, 20%); }
  }

  .title {
    a { color: $brown3; }
  }
}

.bulletin {
  .bulletin-info {
    float: left;
    width: 200px;
    h6 {
      color: #aaa;
      margin-bottom: 30px;
    }
    .links h5 {
      margin-bottom: 15px;
    }
  }
  .bulletin-main {
    margin-left: 200px;
    max-width: $col * 14;
  }
  .subtext {
    font-size: $font-size * 0.8;
    text-transform: none;
    a {
      color: lighten($brown4, 20%);
      text-decoration: underline;
    }
  }
  .bulletin-main {
    border: solid 1px $green;
    padding: 5px 10px;
    h3 { color: $brown4; }
    & > * { margin-bottom: 20px; }

    .bulletin-header {
      font-size: $font-size * 0.9;
      .link, .title {
        display: inline-block;
        vertical-align: bottom;
      }
    }
    .bulletin-comments {
      & > * { font-size: $font-size * 0.8; }
      textarea {
        width: 100%;
        min-height: 50px;
        margin-right: 10px;
        font-size: 1em;
      }
      li {
        margin-bottom: 10px;
        background-color: transparentize($brown2, 0.9);
        padding: 2px 10px;
        h5 {
          margin-bottom: 2px;
        }
        p {
          margin-bottom: 5px;
          &:last-child {
            margin-bottom:0px;
          }
        }
      }

    }
  }
}

form textarea {
  min-height: 200px;
}
