@import '_imports';

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 70px;
  background-color: transparentize($green, 0.3);
  padding: 10px 0;
}

.footer .footer-links {
  margin: 0 auto 5px;
  width: 400px;
  text-align: center;
  li {
    display: inline-block;
    margin: 0 5px;
  }
}