@import '_imports';
$nav-height: 36px;

nav {
  width: 100%;
  height: $nav-height;
  box-shadow: 0 4px 4px -2px #aaa;
  background: #efefef;
  padding: 0 10px;

  & > * {
    display: inline-block;
    vertical-align: baseline;
    height: $nav-height;
    line-height: $nav-height;
  }

  .logo {
    margin-right: 20px;
    margin-bottom: 0;
    @include logo;
  }

  ul {
    li:first-child { padding-left: 0px; }
  }
}

nav .account {
  float:right;
  span {
    padding: 0 10px;
    font-size: $font-size * 0.9;
    vertical-align: middle;
    color: $brown4;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ie-user-select: none;
    text-align: center;
    cursor: pointer;
  }
  img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
  }
}