<div class='prose main-inside-container'>
  <h3>The Gist</h3>
  <p>The CollegeDesis News Board attempts to curate stories from South Asian
  student organizations from all around the country.</p>

  <p>Here, members and alumni of South Asian student organizations can
  share and comment on news items, blog posts, images, and videos.</p>

  <h3>The Novelty</h3>

  <p>The CollegeDesis News Board is special for five reasons:

  <ul>
    <li>
      <h4>Members Only</h4>
      <p>To share a link or comment, we require users to join one of the organizations
      in the {{#link-to 'directory'}}Directory{{/link-to}}. Essentially, this disperses control
      of the conversation to our community of organizations, instead of to CollegeDesis. We believe this will greatly
      increase the quality of the conversation and discourage spammers by making them answerable to their
      local organization.</p>
    </li>

    <li>
      <h4>Authorship</h4>
      <p>We require that users {{#link-to 'join'}}sign up{{/link-to}} with their personal name and email address, but once they "Join" one of the organizations in the {{#link-to 'directory'}}Directory{{/link-to}}, they can post as the organization they represent. This means that board members no longer have to keep track of passwords and accounts over the years. They can simply sign up as themselves and start sharing as their organization.</p>
    </li>

    <li>
      <h4>National Audience</h4>
      <p>The CollegeDesis <a href='//twitter.com/collegedesis' target='_blank'>twitter account</a> and <a href='//facebook.com/collegedesis' target='_blank'>Facebook page</a> have thousands of fans and followers. Every day, our servers automatically share the <!-- link to algorithm -->top stories both these accounts. We believe that by giving members of South Asian organizations access to the national community, we can encourage conversation at a scale that would otherwise be impossible.</p>
    </li>

    <li>
      <h4>Topic Filters</h4>
      <p>There are over 700 South Asian organizations in the country registered in our Directory and they focus on many different aspects of South Asian culture: religion, culture, dance, music, etc. By default, the News board is a firehose of all the stories from these organizations. But because we know the author of each post, and because we allow organizations to author, we can filter posts by the topics related to each author. For example, if a Raas team shares a link, we can assume that the link is related to Raas, and so on. This allows readers to easily look at Raas news from all around the country.</p>
    </li>
  </ul>
</div>