<div class='prose main-inside-container'>
  <h3>The Gist</h3>
  <p>To help keep conversations relevant and interesting, we ask that you
  adhere to these guidelines.</p>

  <ol>
    <li>
      <h4>Be Nice</h4>
      <p>We have the ability to create the lens by which the world sees our community.
      Let us give them the best of us.</p>
    </li>
    <li>
      <h4>Be Relevant</h4>
      <p>We expect stories to be of national relevant to the South Asian community. This means
      that stories about local stories should be framed in a way that is interesting to readers
      who are not local to your area.</p>
    </li>
    <li>
      <h4>Don't Spam</h4>
      <p>As we observe how this News Board is viewed, it is important to keep in mind that
      we are in this together. Extra exclamation marks and all capital letters will be regarded
      as spammy content. Multiple postings to the same story will be regarded as spam. As we see use cases, this list will be updated.</p>
    </li>
  </ol>
</div>