@import '../_imports';

.page {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

.page {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 600px) {
  nav {
    padding-left: 50px;
    background: url('img/logo-icon.png') no-repeat;
    background-size: 40px;
  }
  nav .logo { display: none; }
}

@media screen and (device-aspect-ratio: 2/3) {
  nav {
    padding-left: 50px;
  }
  nav .logo { display: none; }
}

@media screen and (device-aspect-ratio: 40/71) {
  nav {
    padding-left: 50px;
  }
  nav .logo { display: none; }
}

@media screen and (device-aspect-ratio: 3/4) {
  nav {
    padding-left: 50px;
  }
  nav .logo { display: none; }
}