{{#if showingPreview}}
  {{partial 'n/new_post_preview'}}
{{else}}
  <div class="row">
    <div class="header">Title</div>
    <div class="contents">
      {{input value=title}}
      {{#unless title}}<span class="error">Missing title</span>{{/unless}}
    </div>
  </div>

  <div class="row">
    <div class="header">Body</div>
    <div class="contents">
      {{textarea value=body}}
      {{#unless body}}<span class="error">Missing body</span>{{/unless}}
    </div>
  </div>
{{/if}}