<p style="margin-top: 100px;" class="muted center">
  News from {{numOfOrganizations}} South Asian student organizations all around America
</p>
<p class="center small mobile">
  <a {{action scrollToStories target="view"}}>Read &darr;</a>
</p>