<form class="bulletin-new" {{action 'submit' on='submit'}}>
  {{#unless validUrl}}<span class="error">Include http or https at the beginning</span>{{/unless}}
  <div class="contents">
    {{input value=url placeholder="http://"}}
    {{view Ember.Select contentBinding="possibleAuthors"
                      prompt="Who are you?"
                      optionValuePath="content"
                      optionLabelPath="content.name"
                      selectionBinding="assignedAuthor"}}
    <input class="cta" {{bind-attr disabled="errors"}} value="Submit">
  </div>
</form>