@media screen and (max-width: 600px) {
  .bulletins {
    width: 100%;
    .bulletin-wrapper {
      display: block;
      width: 100%;
    }
  }
  .bulletin {
    .bulletin-main { margin-left: 0; }
    .bulletin-info {
      float: none;
      width: auto;
      .title { max-width: 240px; }
    }
    .bulletin-body { iframe { height: 190px; } }
  }

}

@media screen and (device-aspect-ratio: 2/3) {
  .bulletins {
    width: 100%;
    .bulletin-wrapper {
      display: block;
      width: 100%;
    }
  }
  .bulletin {
    .bulletin-main { margin-left: 0; }
    .bulletin-info {
      float: none;
      width: auto;
      .title { max-width: 240px; }
    }
  }
}

@media screen and (device-aspect-ratio: 40/71) {
  .bulletins {
    width: 100%;
    .bulletin-wrapper {
      display: block;
      width: 100%;
    }
  }
  .bulletin {
    .bulletin-main { margin-left: 0; }
    .bulletin-info {
      float: none;
      width: auto;
      .title { max-width: 240px; }
    }
    .bulletin-body { iframe { height: 190px; } }
  }
}

@media screen and (device-aspect-ratio: 3/4) {
  .bulletins {
    width: 100%;
    .bulletin-wrapper {
      display: block;
      width: 100%;
    }
  }
  .bulletin {
    .bulletin-main { margin-left: 0; }
    .bulletin-info {
      float: none;
      width: auto;
      .title { max-width: 240px; }
    }
  }
}