@import '../_imports';

.page {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

.page {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

nav .min-nav {
  padding: 5px 0 0 20px;
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  nav .min-nav { display: inline-block; }
  nav .top-nav { display: none; }
}

@media screen and (device-aspect-ratio: 2/3) {
  nav .min-nav { display: inline-block; }
  nav .top-nav { display: none; }
}

@media screen and (device-aspect-ratio: 40/71) {
  nav .min-nav { display: inline-block; }
  nav .top-nav { display: none; }
}

@media screen and (device-aspect-ratio: 3/4) {
  nav .min-nav { display: inline-block; }
  nav .top-nav { display: none; }
}