{{partial 'header'}}

<div class="outer-page">
  <div class="page">
    <div class="messages">
      {{#if currentUser}}
        {{#unless currentUser.approved}}
          <p class="error">Get your profile approved by registering a membership with one of the {{numOfOrganizations}} organizations in our {{#link-to 'directory'}}directory{{/link-to}}!</p>
        {{/unless}}
      {{/if}}
    </div>
    {{outlet}}
  </div>

</div>

<div class="footer">
  {{render 'radio'}}
</div>