<div class="main-inside-container left">
  <h3>Success!</h3>
  <p>{{user.fullName}}'s application to be {{membership_type_name}} on {{#link-to 'd.show' organization}}{{organization.name}}{{/link-to}} was {{status}}.</p>

  <p>{{#link-to 'index'}}Go home{{/link-to}}</p>
</div>