<div class='prose main-inside-container'>
<h3>The Gist</h3>
<p>
  We're constantly making things simpler and more intuitive. Your questions
  help us understand where to focus our efforts. Email more questions to
  <a href="mailto:brownkids@collegedesis.com">brownkids@collegedesis.com</a>.
</p>

  <ul>
    <li>
      <h4>How do I post a story?</h4>
        <ol>
          <li>Log in</li>
          <li>"Join" one of the organizations in the {{#link-to 'directory'}}Directory{{/link-to}}</li>
          <li>Enter a URL on the home page and choose an author</li>
          <li>Submit</li>
        </ol>
    </li>
    <li>
      <h4>What is Authorship?</h4>
      <p>
        We let you associate stories you share with the name of one
        of the organizations you belong to, instead of your own name.
        This way you don't need to make a new account every time your
        President or PR chair graduates.
      </p>
      <p class="small">
        Note that we still keep track of the fact that your account
        posted it so that we can reward you for sharing links that
        the community likes. But this is association is not shown with
        the story.
      </p>
    </li>
    <li>
      <h4>Can I still write a blog post here?</h4>
      <p>
        No. We removed blog post stories to simplify and in an effort to
        move towards more real-time communication inside the community.
      </p>
      <p class="small">
        We still highly value well constructued thoughts and dialogue,
        so our recommendation is to write on one of these easy blogging
        platforms and share the link here:
        <ol class="small">
          <li><a href="//onword.co/">Onward</a></li>
          <li><a href="//tumblr.com">Tumblr</a></li>
          <li><a href="//svbtle.com">Svbtle</a></li>
        </ol>
      </p>
      <p class="small">
        Or you can make it even easier and post on <a href="//pastie.org">Pastie.org</a>
        (no sign up required) or <a href="//drive.google.com">Google Docs</a>.
      </p>
    </li>
  </ul>
</div>
