<div class='prose main-inside-container'>
  <p>To help keep conversations relevant and interesting, we ask that you
  adhere to these guidelines.</p>
  <ol>
    <li>Be Nice</li>
    <li>Be Relevant</li>
    <li>Don't Spam</li>
  </ol>
</div>