<form class='login-form inline' {{action 'login' on='submit'}}>
  {{input type='email' value=email placeholder='Email'}}
  {{input type='password' value=password placeholder='Password'}}
  {{input type='submit' value ='Log in'}}
</form>