<!DOCTYPE html>
<html>
<head>
  <title>CollegeDesis News</title>
  <meta charset="UTF-8">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">

  <meta property='og:image' content='https://collegedesis.com/assets/logo.png'>
  <meta property='og:url' content='https://www.collegedesis.com'>
  <meta property='og:description' content='We build tools to help South Asian student organizations connect, collaborate, and share.'>
  <meta property='og:title' content='CollegeDesis'>

</head>
<body>

<%= yield %>

</body>
</html>
